---
http_interactions:
- request:
    method: post
    uri: https://typetalk.in/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=(CLIENT_ID)&client_secret=(CLIENT_SECRET)&grant_type=client_credentials&scope=topic.read%2Ctopic.post%2Cmy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"(ACCESS_TOKEN)","expires_in":3600,"scope":"topic.read,topic.post,my","refresh_token":"(REFRESH_TOKEN)","token_type":"Bearer"}'
  recorded_at: Thu, 15 May 2014 10:00:04 GMT
- request:
    method: get
    uri: https://typetalk.in/api/v1/topics/5149?access_token=(ACCESS_TOKEN)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa42497e6e368980c1c891428f5f9a61"
    body:
      encoding: UTF-8
      string: '{"posts":[{"updatedAt":"2014-05-15T08:54:30Z","talks":[],"replyTo":null,"url":"https://typetalk.in/topics/5149/posts/278693","topicId":5149,"likes":[],"links":[],"id":278693,"mention":null,"createdAt":"2014-05-15T08:54:30Z","message":"Test
        Message 3 - 1","account":{"name":"umakoz","updatedAt":"2014-05-15T00:44:58Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400114698595"},"attachments":[]},{"updatedAt":"2014-05-15T09:10:54Z","talks":[],"replyTo":null,"url":"https://typetalk.in/topics/5149/posts/278765","topicId":5149,"likes":[{"topicId":5149,"id":46005,"postId":278765,"comment":"","account":{"name":"umakoz","updatedAt":"2014-05-15T00:44:58Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400114698595"}}],"links":[],"id":278765,"mention":null,"createdAt":"2014-05-15T09:10:54Z","message":"Test
        Message 3 - 2","account":{"name":"umakoz","updatedAt":"2014-05-15T00:44:58Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400114698595"},"attachments":[]},{"updatedAt":"2014-05-15T09:10:57Z","talks":[{"name":"Test
        Summary 3 - 1","updatedAt":"2014-05-15T09:44:38Z","url":"https://typetalk.in/topics/5149/talks/3991","description":null,"topicId":5149,"id":3991,"createdAt":"2014-05-15T09:44:38Z"}],"replyTo":null,"url":"https://typetalk.in/topics/5149/posts/278766","topicId":5149,"likes":[],"links":[],"id":278766,"mention":null,"createdAt":"2014-05-15T09:10:57Z","message":"Test
        Message 3 - 3","account":{"name":"umakoz","updatedAt":"2014-05-15T00:44:58Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400114698595"},"attachments":[]},{"updatedAt":"2014-05-15T09:16:09Z","talks":[],"replyTo":278693,"url":"https://typetalk.in/topics/5149/posts/278779","topicId":5149,"likes":[],"links":[],"id":278779,"mention":null,"createdAt":"2014-05-15T09:16:09Z","message":"Test
        Message 3 - 4","account":{"name":"umakoz","updatedAt":"2014-05-15T00:44:58Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400114698595"},"attachments":[]},{"updatedAt":"2014-05-15T09:17:16Z","talks":[],"replyTo":null,"url":"https://typetalk.in/topics/5149/posts/278782","topicId":5149,"likes":[],"links":[],"id":278782,"mention":{"id":35823,"readAt":null},"createdAt":"2014-05-15T09:17:16Z","message":"Test
        Message 3 - 5 @typetalk-rubygem-tester ","account":{"name":"umakoz","updatedAt":"2014-05-15T00:44:58Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400114698595"},"attachments":[]},{"updatedAt":"2014-05-15T09:53:52Z","talks":[],"replyTo":null,"url":"https://typetalk.in/topics/5149/posts/278852","topicId":5149,"likes":[],"links":[],"id":278852,"mention":null,"createdAt":"2014-05-15T09:53:52Z","message":"Test
        Message 3 - 6","account":{"name":"umakoz","updatedAt":"2014-05-15T00:44:58Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400114698595"},"attachments":[{"fileName":"logo.jpg","webUrl":"https://typetalk.in/topics/5149/posts/278852/attachments/1/logo.jpg","apiUrl":"https://typetalk.in/api/v1/topics/5149/posts/278852/attachments/1/logo.jpg"}]}],"team":null,"topic":{"name":"Test
        Topic 3","updatedAt":"2014-05-15T07:51:09Z","description":null,"id":5149,"lastPostedAt":"2014-05-15T09:58:01Z","createdAt":"2014-05-15T07:51:09Z","suggestion":"Test
        Topic 3"},"bookmark":{"postId":278693,"updatedAt":"2014-05-15T09:09:42Z"},"hasNext":false}'
  recorded_at: Thu, 15 May 2014 10:00:05 GMT
recorded_with: VCR 2.9.0
