---
http_interactions:
- request:
    method: post
    uri: https://typetalk.in/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=(CLIENT_ID)&client_secret=(CLIENT_SECRET)&grant_type=client_credentials&scope=topic.read%2Ctopic.post%2Cmy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"(ACCESS_TOKEN)","expires_in":3600,"scope":"topic.read,topic.post,my","refresh_token":"(REFRESH_TOKEN)","token_type":"Bearer"}'
  recorded_at: Fri, 16 May 2014 10:36:22 GMT
- request:
    method: get
    uri: https://typetalk.in/api/v1/notifications?access_token=(ACCESS_TOKEN)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"312252669eb27bb3a3708c8c432074ec"
    body:
      encoding: UTF-8
      string: '{"mentions":[{"id":36069,"readAt":"2014-05-16T00:00:00Z","post":{"updatedAt":"2014-05-16T10:02:20Z","replyTo":null,"url":"https://typetalk.in/topics/5147/posts/280469","id":280469,"createdAt":"2014-05-16T10:02:20Z","message":"Test
        Message 1 - 4 @typetalk-rubygem-tester ","topic":{"name":"Test Topic 1","updatedAt":"2014-05-15T07:50:13Z","description":null,"id":5147,"lastPostedAt":"2014-05-16T10:02:20Z","createdAt":"2014-05-15T07:44:56Z","suggestion":"Test
        Topic 1"},"account":{"name":"umakoz","updatedAt":"2014-05-16T09:59:47Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400234387555"},"attachments":[]}},{"id":36068,"readAt":"2014-05-16T00:00:00Z","post":{"updatedAt":"2014-05-16T10:02:05Z","replyTo":null,"url":"https://typetalk.in/topics/5147/posts/280467","id":280467,"createdAt":"2014-05-16T10:02:05Z","message":"Test
        Message 1 - 3 @typetalk-rubygem-tester ","topic":{"name":"Test Topic 1","updatedAt":"2014-05-15T07:50:13Z","description":null,"id":5147,"lastPostedAt":"2014-05-16T10:02:20Z","createdAt":"2014-05-15T07:44:56Z","suggestion":"Test
        Topic 1"},"account":{"name":"umakoz","updatedAt":"2014-05-16T09:59:47Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400234387555"},"attachments":[]}},{"id":35823,"readAt":null,"post":{"updatedAt":"2014-05-15T09:17:16Z","replyTo":null,"url":"https://typetalk.in/topics/5149/posts/278782","id":278782,"createdAt":"2014-05-15T09:17:16Z","message":"Test
        Message 3 - 5 @typetalk-rubygem-tester ","topic":{"name":"Test Topic 3","updatedAt":"2014-05-15T07:51:09Z","description":null,"id":5149,"lastPostedAt":"2014-05-15T09:58:01Z","createdAt":"2014-05-15T07:51:09Z","suggestion":"Test
        Topic 3"},"account":{"name":"umakoz","updatedAt":"2014-05-16T09:59:47Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400234387555"},"attachments":[]}}],"invites":{"teams":[{"updatedAt":"2014-05-16T10:32:25Z","role":"member","id":2052,"team":{"name":"Test
        Team 3","updatedAt":"2014-05-16T10:32:25Z","description":null,"id":1038,"createdAt":"2014-05-16T10:32:25Z","imageUrl":"https://typetalk.in/teams/1038/image.png?t=1400236345575"},"createdAt":"2014-05-16T10:32:25Z","sender":{"name":"umakoz","updatedAt":"2014-05-16T09:59:47Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400234387555"},"message":"Test
        Team Invitation 3","account":{"name":"typetalk-rubygem-tester","updatedAt":"2014-05-16T08:58:31Z","fullName":"Rubygem
        Tester","id":3865,"createdAt":"2014-05-14T09:09:44Z","suggestion":"Rubygem
        Tester","imageUrl":"https://typetalk.in/accounts/3865/profile_image.png?t=1400230711958"}},{"updatedAt":"2014-05-16T10:32:43Z","role":"member","id":2053,"team":{"name":"Test
        Team 4","updatedAt":"2014-05-16T10:32:43Z","description":null,"id":1039,"createdAt":"2014-05-16T10:32:43Z","imageUrl":"https://typetalk.in/teams/1039/image.png?t=1400236363878"},"createdAt":"2014-05-16T10:32:43Z","sender":{"name":"umakoz","updatedAt":"2014-05-16T09:59:47Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400234387555"},"message":"Test
        Team Invitation 4","account":{"name":"typetalk-rubygem-tester","updatedAt":"2014-05-16T08:58:31Z","fullName":"Rubygem
        Tester","id":3865,"createdAt":"2014-05-14T09:09:44Z","suggestion":"Rubygem
        Tester","imageUrl":"https://typetalk.in/accounts/3865/profile_image.png?t=1400230711958"}}],"topics":[{"updatedAt":"2014-05-16T10:34:33Z","id":1779,"createdAt":"2014-05-16T10:34:33Z","sender":{"name":"umakoz","updatedAt":"2014-05-16T09:59:47Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400234387555"},"message":"Test
        Topic Invitation 5","topic":{"name":"Test Topic 5","updatedAt":"2014-05-16T10:34:33Z","description":null,"id":5171,"lastPostedAt":null,"createdAt":"2014-05-16T10:34:3[...]
