---
http_interactions:
- request:
    method: post
    uri: https://typetalk.in/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=(CLIENT_ID)&client_secret=(CLIENT_SECRET)&grant_type=client_credentials&scope=topic.read%2Ctopic.post%2Cmy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"(ACCESS_TOKEN)","expires_in":3600,"scope":"topic.read,topic.post,my","refresh_token":"(REFRESH_TOKEN)","token_type":"Bearer"}'
  recorded_at: Thu, 15 May 2014 11:33:10 GMT
- request:
    method: post
    uri: https://typetalk.in/api/v1/topics/5148?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: message=Test+Message+2+-+5&talkIds%5B0%5D=3993&talkIds%5B1%5D=3994&talkIds%5B2%5D=3995
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0a4888169bbeb20dd14612b5e56a2292"
    body:
      encoding: UTF-8
      string: '{"topic":{"name":"Test Topic 2","updatedAt":"2014-05-15T07:49:56Z","description":null,"id":5148,"lastPostedAt":"2014-05-15T11:33:11Z","createdAt":"2014-05-15T07:45:57Z","suggestion":"Test
        Topic 2"},"post":{"updatedAt":"2014-05-15T11:33:11Z","talks":[{"name":"Test
        Summary 2 - 3","updatedAt":"2014-05-15T11:22:58Z","url":"https://typetalk.in/topics/5148/talks/3995","description":null,"topicId":5148,"id":3995,"createdAt":"2014-05-15T11:22:58Z"},{"name":"Test
        Summary 2 - 2","updatedAt":"2014-05-15T11:22:43Z","url":"https://typetalk.in/topics/5148/talks/3994","description":null,"topicId":5148,"id":3994,"createdAt":"2014-05-15T11:22:43Z"},{"name":"Test
        Summary 2 - 1","updatedAt":"2014-05-15T11:22:27Z","url":"https://typetalk.in/topics/5148/talks/3993","description":null,"topicId":5148,"id":3993,"createdAt":"2014-05-15T11:22:27Z"}],"replyTo":null,"url":"https://typetalk.in/topics/5148/posts/279050","topicId":5148,"likes":[],"links":[],"id":279050,"mention":null,"createdAt":"2014-05-15T11:33:11Z","message":"Test
        Message 2 - 5","account":{"name":"typetalk-rubygem-tester","updatedAt":"2014-05-15T00:36:03Z","fullName":"Rubygem
        Tester","id":3865,"createdAt":"2014-05-14T09:09:44Z","suggestion":"Rubygem
        Tester","imageUrl":"https://typetalk.in/accounts/3865/profile_image.png?t=1400114163838"},"attachments":[]}}'
  recorded_at: Thu, 15 May 2014 11:33:11 GMT
recorded_with: VCR 2.9.0
