---
http_interactions:
- request:
    method: post
    uri: https://typetalk.com/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=(CLIENT_ID)&client_secret=(CLIENT_SECRET)&grant_type=client_credentials&scope=topic.read%2Ctopic.post%2Cmy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"(ACCESS_TOKEN)","expires_in":3600,"scope":"topic.read,topic.post,my","refresh_token":"(REFRESH_TOKEN)","token_type":"Bearer"}'
  recorded_at: Thu, 15 May 2014 08:55:12 GMT
- request:
    method: get
    uri: https://typetalk.com/api/v1/topics?access_token=(ACCESS_TOKEN)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9bf529d1c287114aafa769c9e4ec97f4"
    body:
      encoding: UTF-8
      string: '{"topics":[{"topic":{"name":"Test Topic 1","updatedAt":"2014-05-15T07:50:13Z","description":null,"id":5147,"lastPostedAt":"2014-05-15T08:29:49Z","createdAt":"2014-05-15T07:44:56Z","suggestion":"Test
        Topic 1"},"favorite":true,"unread":{"topicId":5147,"postId":278615,"count":1}},{"topic":{"name":"Test
        Topic 2","updatedAt":"2014-05-15T07:49:56Z","description":null,"id":5148,"lastPostedAt":null,"createdAt":"2014-05-15T07:45:57Z","suggestion":"Test
        Topic 2"},"favorite":true,"unread":null},{"topic":{"name":"Test Topic 3","updatedAt":"2014-05-15T07:51:09Z","description":null,"id":5149,"lastPostedAt":"2014-05-15T08:54:55Z","createdAt":"2014-05-15T07:51:09Z","suggestion":"Test
        Topic 3"},"favorite":false,"unread":{"topicId":5149,"postId":0,"count":3}}]}'
  recorded_at: Thu, 15 May 2014 08:55:12 GMT
recorded_with: VCR 2.9.0
