---
http_interactions:
- request:
    method: post
    uri: https://typetalk.in/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=(CLIENT_ID)&client_secret=(CLIENT_SECRET)&grant_type=client_credentials&scope=topic.read%2Ctopic.post%2Cmy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"(ACCESS_TOKEN)","expires_in":3600,"scope":"topic.read,topic.post,my","refresh_token":"(REFRESH_TOKEN)","token_type":"Bearer"}'
  recorded_at: Fri, 16 May 2014 10:27:40 GMT
- request:
    method: put
    uri: https://typetalk.in/api/v1/mentions/36069?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"77e91a2bede7262df7b73637933e82a1"
    body:
      encoding: UTF-8
      string: '{"mention":{"id":36069,"readAt":"2014-05-16T10:27:37Z","post":{"updatedAt":"2014-05-16T10:02:20Z","replyTo":null,"url":"https://typetalk.in/topics/5147/posts/280469","id":280469,"createdAt":"2014-05-16T10:02:20Z","message":"Test
        Message 1 - 4 @typetalk-rubygem-tester ","topic":{"name":"Test Topic 1","updatedAt":"2014-05-15T07:50:13Z","description":null,"id":5147,"lastPostedAt":"2014-05-16T10:02:20Z","createdAt":"2014-05-15T07:44:56Z","suggestion":"Test
        Topic 1"},"account":{"name":"umakoz","updatedAt":"2014-05-16T09:59:47Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.in/accounts/921/profile_image.png?t=1400234387555"},"attachments":[]}}}'
  recorded_at: Fri, 16 May 2014 10:27:40 GMT
recorded_with: VCR 2.9.0
