---
http_interactions:
- request:
    method: post
    uri: https://typetalk.com/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=(CLIENT_ID)&client_secret=(CLIENT_SECRET)&grant_type=client_credentials&scope=topic.read%2Ctopic.post%2Cmy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"(ACCESS_TOKEN)","expires_in":3600,"scope":"topic.read,topic.post,my","refresh_token":"(REFRESH_TOKEN)","token_type":"Bearer"}'
  recorded_at: Fri, 16 May 2014 11:20:56 GMT
- request:
    method: post
    uri: https://typetalk.com/api/v1/teams/1039/members/invite/2053/decline?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0565bcf1b9ca8469e1ff88c36a6d2f79"
    body:
      encoding: UTF-8
      string: '{"updatedAt":"2014-05-16T11:20:53Z","role":"member","id":2053,"team":{"name":"Test
        Team 4","updatedAt":"2014-05-16T10:32:43Z","description":null,"id":1039,"createdAt":"2014-05-16T10:32:43Z","imageUrl":"https://typetalk.com/teams/1039/image.png?t=1400236363878"},"createdAt":"2014-05-16T10:32:43Z","sender":{"name":"umakoz","updatedAt":"2014-05-16T09:59:47Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.com/accounts/921/profile_image.png?t=1400234387555"},"message":"Test
        Team Invitation 4","account":{"name":"typetalk-rubygem-tester","updatedAt":"2014-05-16T08:58:31Z","fullName":"Rubygem
        Tester","id":3865,"createdAt":"2014-05-14T09:09:44Z","suggestion":"Rubygem
        Tester","imageUrl":"https://typetalk.com/accounts/3865/profile_image.png?t=1400230711958"}}'
  recorded_at: Fri, 16 May 2014 11:20:57 GMT
- request:
    method: post
    uri: https://typetalk.com/api/v1/teams/1039/members/invite/2053/decline?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 16 May 2014 11:20:57 GMT
recorded_with: VCR 2.9.0
