---
http_interactions:
- request:
    method: post
    uri: https://typetalk.in/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=(CLIENT_ID)&client_secret=(CLIENT_SECRET)&grant_type=client_credentials&scope=topic.read%2Ctopic.post%2Cmy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"(ACCESS_TOKEN)","expires_in":3600,"scope":"topic.read,topic.post,my","refresh_token":"(REFRESH_TOKEN)","token_type":"Bearer"}'
  recorded_at: Thu, 15 May 2014 12:14:32 GMT
- request:
    method: post
    uri: https://typetalk.in/api/v1/topics/5148?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: message=Test+Message+2+-+9
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3c4541848ebfba6feaa51a31e84616d2"
    body:
      encoding: UTF-8
      string: '{"topic":{"name":"Test Topic 2","updatedAt":"2014-05-15T07:49:56Z","description":null,"id":5148,"lastPostedAt":"2014-05-15T12:14:33Z","createdAt":"2014-05-15T07:45:57Z","suggestion":"Test
        Topic 2"},"post":{"updatedAt":"2014-05-15T12:14:33Z","talks":[],"replyTo":null,"url":"https://typetalk.in/topics/5148/posts/279097","topicId":5148,"likes":[],"links":[],"id":279097,"mention":null,"createdAt":"2014-05-15T12:14:33Z","message":"Test
        Message 2 - 9","account":{"name":"typetalk-rubygem-tester","updatedAt":"2014-05-15T00:36:03Z","fullName":"Rubygem
        Tester","id":3865,"createdAt":"2014-05-14T09:09:44Z","suggestion":"Rubygem
        Tester","imageUrl":"https://typetalk.in/accounts/3865/profile_image.png?t=1400114163838"},"attachments":[]}}'
  recorded_at: Thu, 15 May 2014 12:14:33 GMT
- request:
    method: delete
    uri: https://typetalk.in/api/v1/topics/5148/posts/279097/like?access_token=(ACCESS_TOKEN)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 May 2014 12:14:34 GMT
- request:
    method: post
    uri: https://typetalk.in/api/v1/topics/5148/posts/279097/like?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b67ae77b6f84a434fd26a53ebf13bd9"
    body:
      encoding: UTF-8
      string: '{"like":{"topicId":5148,"id":46100,"postId":279097,"comment":"","account":{"name":"typetalk-rubygem-tester","updatedAt":"2014-05-15T00:36:03Z","fullName":"Rubygem
        Tester","id":3865,"createdAt":"2014-05-14T09:09:44Z","suggestion":"Rubygem
        Tester","imageUrl":"https://typetalk.in/accounts/3865/profile_image.png?t=1400114163838"}}}'
  recorded_at: Thu, 15 May 2014 12:14:35 GMT
- request:
    method: delete
    uri: https://typetalk.in/api/v1/topics/5148/posts/279097/like?access_token=(ACCESS_TOKEN)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1b67ae77b6f84a434fd26a53ebf13bd9"
    body:
      encoding: UTF-8
      string: '{"like":{"topicId":5148,"id":46100,"postId":279097,"comment":"","account":{"name":"typetalk-rubygem-tester","updatedAt":"2014-05-15T00:36:03Z","fullName":"Rubygem
        Tester","id":3865,"createdAt":"2014-05-14T09:09:44Z","suggestion":"Rubygem
        Tester","imageUrl":"https://typetalk.in/accounts/3865/profile_image.png?t=1400114163838"}}}'
  recorded_at: Thu, 15 May 2014 12:14:35 GMT
recorded_with: VCR 2.9.0
