---
http_interactions:
- request:
    method: post
    uri: https://typetalk.com/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=(CLIENT_ID)&client_secret=(CLIENT_SECRET)&grant_type=client_credentials&scope=topic.read%2Ctopic.post%2Cmy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"(ACCESS_TOKEN)","expires_in":3600,"scope":"topic.read,topic.post,my","refresh_token":"(REFRESH_TOKEN)","token_type":"Bearer"}'
  recorded_at: Thu, 15 May 2014 12:25:52 GMT
- request:
    method: post
    uri: https://typetalk.com/api/v1/topics/5148?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: message=Test+Message+2+-+10
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44bc4a694babad4d1dd94155d09cf3e4"
    body:
      encoding: UTF-8
      string: '{"topic":{"name":"Test Topic 2","updatedAt":"2014-05-15T07:49:56Z","description":null,"id":5148,"lastPostedAt":"2014-05-15T12:25:53Z","createdAt":"2014-05-15T07:45:57Z","suggestion":"Test
        Topic 2"},"post":{"updatedAt":"2014-05-15T12:25:53Z","talks":[],"replyTo":null,"url":"https://typetalk.com/topics/5148/posts/279111","topicId":5148,"likes":[],"links":[],"id":279111,"mention":null,"createdAt":"2014-05-15T12:25:53Z","message":"Test
        Message 2 - 10","account":{"name":"typetalk-rubygem-tester","updatedAt":"2014-05-15T00:36:03Z","fullName":"Rubygem
        Tester","id":3865,"createdAt":"2014-05-14T09:09:44Z","suggestion":"Rubygem
        Tester","imageUrl":"https://typetalk.com/accounts/3865/profile_image.png?t=1400114163838"},"attachments":[]}}'
  recorded_at: Thu, 15 May 2014 12:25:53 GMT
[...]
- request:
    method: post
    uri: https://typetalk.com/api/v1/bookmark/save?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: topicId=5148
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4874d01cd09c871ad4375071158d0689"
    body:
      encoding: UTF-8
      string: '{"unread":{"topicId":5148,"postId":279112,"count":0}}'
  recorded_at: Thu, 15 May 2014 12:26:02 GMT
recorded_with: VCR 2.9.0
