---
http_interactions:
- request:
    method: post
    uri: https://typetalk.in/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=(CLIENT_ID)&client_secret=(CLIENT_SECRET)&grant_type=client_credentials&scope=topic.read%2Ctopic.post%2Cmy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"(ACCESS_TOKEN)","expires_in":3600,"scope":"topic.read,topic.post,my","refresh_token":"(REFRESH_TOKEN)","token_type":"Bearer"}'
  recorded_at: Thu, 15 May 2014 12:06:17 GMT
- request:
    method: post
    uri: https://typetalk.in/api/v1/topics/5148/posts/dummy/like?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 15 May 2014 12:06:17 GMT
recorded_with: VCR 2.9.0
