---
http_interactions:
- request:
    method: post
    uri: https://typetalk.com/oauth2/access_token
    body:
      encoding: UTF-8
      string: client_id=(CLIENT_ID)&client_secret=(CLIENT_SECRET)&grant_type=client_credentials&scope=topic.read%2Ctopic.post%2Cmy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"(ACCESS_TOKEN)","expires_in":3600,"scope":"topic.read,topic.post,my","refresh_token":"(REFRESH_TOKEN)","token_type":"Bearer"}'
  recorded_at: Fri, 16 May 2014 11:37:28 GMT
- request:
    method: post
    uri: https://typetalk.com/api/v1/topics/5171/members/invite/1779/decline?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"81d0733e0688b7bb0a80783730b38bb2"
    body:
      encoding: UTF-8
      string: '{"invite":{"updatedAt":"2014-05-16T11:37:26Z","id":1779,"createdAt":"2014-05-16T10:34:33Z","sender":{"name":"umakoz","updatedAt":"2014-05-16T09:59:47Z","fullName":"umakoz","id":921,"createdAt":"2013-12-09T23:47:12Z","suggestion":"umakoz","imageUrl":"https://typetalk.com/accounts/921/profile_image.png?t=1400234387555"},"message":"Test
        Topic Invitation 5","topic":{"name":"Test Topic 5","updatedAt":"2014-05-16T10:34:33Z","description":null,"id":5171,"lastPostedAt":null,"createdAt":"2014-05-16T10:34:33Z","suggestion":"Test
        Topic 5"},"account":{"name":"typetalk-rubygem-tester","updatedAt":"2014-05-16T08:58:31Z","fullName":"Rubygem
        Tester","id":3865,"createdAt":"2014-05-14T09:09:44Z","suggestion":"Rubygem
        Tester","imageUrl":"https://typetalk.com/accounts/3865/profile_image.png?t=1400230711958"}}}'
  recorded_at: Fri, 16 May 2014 11:37:29 GMT
- request:
    method: post
    uri: https://typetalk.com/api/v1/topics/5171/members/invite/1779/decline?access_token=(ACCESS_TOKEN)
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: decline
  recorded_at: Fri, 16 May 2014 11:37:30 GMT
recorded_with: VCR 2.9.0
